.container.main-container
  .navbar.navbar-default{:role => "navigation"}
    %form.navbar-form.navbar-right
      %button.btn.btn-primary{:role => "button"} Create Event
      %button.btn.btn-primary{:type => "submit"} Sign In
  .container-fluid.jumbotron.event-center-title
    .row
      .col-md-8
        %h1#jumbo-title KILPAKO
        %p#jumbo-description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae neque sit amet nulla feugiat venenatis ut id mi.
      .col-md-4
        =image_tag "kilpako.png", :class => "media-object center-title-image"
  .container-fluid.center-event-container
    .row  
      .col-sm-6.col-left
        %h3.events-list-title Upcoming Events
        %ul.media-list.events-group
          %li.media.events-group
            %a.pull-left{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{1}"}
              =image_tag "sport1.png", :class => "media-object events-image"
            .media-body
              %a.events-title{:href => '/kilpako/events/1'} Robur sprint
              .span.glyphicon.glyphicon-arrow-down{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{1}"}
              %p.events-date 3.-4.1.2015
              .media.panel-collapse.collapse.out{:id => "collapse#{1}"}
                %a.pull-left
                  =image_tag "sport1.png", :class => "media-object competitions-image"
                .media-body
                  %p.competition-title 22Km Distance
                  %p.competition-date 3.1.2015
                %a.pull-left
                  =image_tag "sport1.png", :class => "media-object competitions-image"
                .media-body
                  %p.competition-title 11Km Spring
                  %p.competition-date 4.1.2015
          %li.media.events-group
            %a.pull-left
              =image_tag "sport2.png", :class => "media-object events-image"
            .media-body
              %a.events-title{:href => '/kilpako/events/1'} Ruuhirod
              %p.events-date 7.-8.2.2015
          %li.media.events-group
            %a.pull-left
              =image_tag "sport3.png", :class => "media-object events-image"
            .media-body
              %a.events-title{:href => '/kilpako/events/1'} Ohkolan talvi
              %p.events-date 14.-15.2.2015
          %li.media.events-group
            %a.pull-left
              =image_tag "sport4.png", :class => "media-object events-image"
            .media-body
              %a.events-title{:href => '/kilpako/events/1'} Eastpoint Open
              %p.events-date 14.-15.2.2015
      .col-sm-6.col-right
        %h3.events-list-title Past Events
        %ul.media-list.events-group
          %li.media.events-group
            %a.pull-left
              =image_tag "sport2.png", :class => "media-object events-image"
            .media-body
              %a.events-title{:href => '/kilpako/events/1'} ROI CROSS
              %p.events-date 20.9.14
          %li.media.events-group
            %a.pull-left
              =image_tag "sport3.png", :class => "media-object events-image"
            .media-body
              %a.events-title{:href => '/kilpako/events/1'} EC 2014 Rautavaara
              %p.events-date 7.-9.3.2014
          %li.media.events-group
            %a.pull-left{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{2}"}
              =image_tag "sport4.png", :class => "media-object events-image pull-left"
            .media-body
              %a.events-title{:href => '/kilpako/events/1'} OSM Races 2014 Rautavaara
              .span.glyphicon.glyphicon-arrow-down{"data-parent" => "#accordion", "data-toggle" => "collapse", href: "#collapse#{2}"}
              %p.events-date 15.-16.2.2014
              .media.panel-collapse.collapse.out{:id => "collapse#{2}"}
                %a.pull-left
                  =image_tag "sport1.png", :class => "media-object competitions-image"
                .media-body
                  %p.competition-title 22Km Distance
                  %p.competition-date 15.2.2014
                %a.pull-left
                  =image_tag "sport1.png", :class => "media-object competitions-image"
                .media-body
                  %p.competition-title 11Km Spring
                  %p.competition-date 16.2.2015
          %li.media.events-group
            %a.pull-left
              =image_tag "sport5.png", :class => "media-object events-image"
            .media-body
              %a.events-title{:href => '/kilpako/events/1'} Jami
              %p.events-date 5.10.2014
  .container-fluid.footer
    .row  
      .col-md-4
        %a.navbar-brand KILPAKO
      .col-md-4
        %p
          %br Peltokatu 22 A 4, 90120
          %br 90120 Oulum Finland
          %br Tel: +358(0) 40 30 15143
          %br oscarsanhueza@gmail.com
      .col-md-4
        %p
          %br 
            %a Contact Us
          %br 
            %a Who we are?
          %br 
            %a Blog
          %br 
            %a News