= form_for @race do |f|
  - if @race.errors.any?
    #error_explanation
      %h2= "#{pluralize(@race.errors.count, "error")} prohibited this race from being saved:"
      %ul
        - @race.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :spots
    = f.text_field :spots
  .field
    = f.label :status
    = f.select :status, Race::Status
  .field
    = f.label :competition_id
    = collection_select(:race, :competition_id, current_user.events.collect {|e| e.competitions }.flatten, :id, :name)
  .field
    = f.label :race_format_id
    = collection_select(:race, :race_format_id, RaceFormat.all, :id, :name)
  .actions
    = f.submit 'Save'
