%p#notice= notice

%p
  %b Event/competition:
  = "#{@race.competition.event.name}/#{@race.competition.name}"
%p
  %b Name:
  = @race.name
%p
  %b Status:
  = @race.status
%p
  %b Spots:
  = @race.spots
%p
  %b Format:
  = @race.race_format

= link_to 'Edit', edit_race_path(@race)
\|
= link_to 'Back', races_path
