%h1 Listing users

= link_to 'New User', new_user_path

%br

%table
  %tr
    %th Name
    %th Email
    %th
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= "(admin)" if user.admin?
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }